@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root{
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray:hsl(212, 45%, 89%);
    --color-grayish-blue:hsl(220, 15%, 55%);
    --color-dark-blue:hsl(218, 44%, 22%);
    --color-shadow: hsla(220, 15%, 55%, 0.3);
}

body {
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

.container {
    background-color: var(--color-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 5px 5px 20px 1px var(--color-shadow);
}

.container .img {
    width: 290px;
    border-radius: 20px;
}

.container h1 {
    color: var(--color-dark-blue);
    width: 290px;
    text-align: center;
    padding: 15px 15px;
    font-size: 1.4em;
}

.container p {
    color: var(--color-grayish-blue);
    width: 290px;
    padding: 0 15px;
    text-align: center;
    padding-bottom: 10px;
}